*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Ubuntu", sans-serif;
  color: #484848;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
  grid-template-rows: 85vh repeat(2, min-content) repeat(4, minmax(75rem, min-content));
  grid-column-gap: 3rem; }

.mainTitle {
  font-size: 5rem;
  text-align: right; }
  .mainTitle__white {
    color: #fff; }
  .mainTitle__dark {
    color: #484848; }

.section__title {
  font-size: 3.5rem;
  font-weight: 700; }

.small__title {
  font-size: 2rem;
  font-weight: 700; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6; }

.quote__text {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.6; }

.buttonSquare {
  font-size: 1.6rem;
  font-weight: 400; }

.header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
  grid-gap: 3rem;
  background-color: #e8cf5e; }
  .header__title {
    grid-column: col-start 1 / col-end 4;
    justify-self: end;
    align-self: center;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(4, minmax(10vh, min-content)); }
  .header__image {
    height: 85vh;
    grid-column: col-start 5 / col-end 8; }

.intro {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: repeat(2, min-content);
  grid-row-gap: 2rem;
  grid-column-gap: 2rem;
  padding-top: 5rem; }
  .intro__title {
    grid-column: 2 / 3; }

.bullet__icon {
  width: 10rem;
  height: 10rem;
  align-self: center; }

.intro {
  grid-column: col-start 1 / col-end 4; }
  .intro__image {
    display: grid;
    align-items: center;
    grid-column: col-start 5 / col-end 8;
    position: relative;
    padding-top: 8rem; }
    .intro__image--src {
      max-width: 100%;
      max-height: 100%; }

.quote {
  background-color: #484848;
  padding: 4rem 0;
  margin: 12rem 0 0 0;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
  grid-gap: 3rem; }
  .quote__text {
    color: #fff;
    grid-column: col-start 2 / col-end 7;
    text-align: center; }

.portfolio {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
  grid-gap: 3rem; }
  .portfolio__icon {
    background-size: cover;
    background-repeat: no-repeat; }
    .portfolio__icon--dark {
      grid-column: full-start / col-end 4;
      background-position: right; }
    .portfolio__icon--light {
      grid-column: col-start 5 / full-end; }
  .portfolio__text {
    align-self: center; }
    .portfolio__text--dark {
      grid-column: col-start 5 / col-end 8; }
    .portfolio__text--light {
      grid-column: col-start 1 / col-end 4; }
  .portfolio__dark {
    background-color: #EFEFEF; }

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .description__title {
    margin-bottom: -.5rem; }
  .description__subtitle {
    margin-bottom: 1rem; }
  .description__button {
    margin-top: 4rem; }

.portfolio__icon--cube {
  background-image: url("../img/cuberover_icon.png"); }

.portfolio__icon--off {
  background-image: url("../img/offbeat_icon.png"); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #e8cf5e;
  height: 5rem;
  width: 5rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 12;
  cursor: pointer;
  text-align: center; }

.navigation__background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-color: #fff;
  z-index: 10;
  transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: all 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  width: 0; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: .5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #484848;
  text-decoration: none;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #e8cf5e 50%);
  background-size: 200%;
  transition: all ease-in-out .15s; }

.navigation__link:hover, .navigation__link:active {
  color: #484848;
  background-position: 100%;
  transform: translateX(2px); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(150); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 2.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  transform: rotate(45deg);
  top: 0; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  transform: rotate(-45deg);
  top: 0; }

.buttonSquare,
.buttonSquare:visited {
  color: #484848;
  text-decoration: none;
  background-color: #e8cf5e;
  padding: 1.5rem;
  text-transform: uppercase;
  transition: ease-in-out .1s;
  border-radius: 3px; }

.buttonSquare:hover {
  transform: translateY(-3px);
  z-index: 1;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }
