
.header {
    grid-column: full-start / full-end;
    grid-gap: 3rem;

    background-color: $color-primary;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__title {

        align-self: center;

        display: grid;
        align-items: right;
        grid-template-rows: repeat(4, minmax(10vh, min-content));
    }


    &__image {
        height: $header-height;
    }
}

