
.header {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(max-content, 11rem) [col-end]) [center-end] 1fr [full-end];
    grid-gap: 3rem;

    background-color: $color-primary;


    &__title {
        grid-column: col-start 1 / col-end 4;
        

        justify-self: end;
        align-self: center;

        display: grid;
        align-items: center;
        grid-template-rows: repeat(4, minmax(10vh, min-content));
    }


    &__image {
        height: $header-height;
        grid-column: col-start 5 / col-end 8;
    }
}

