.bullet {

    &__icon {
        width: 10rem;
        height: 10rem;
        align-self: start;
        grid-column: stretch-start / center-start;
    }

    &__title {
        
    }

    &__text {
        
    }
}


.intro {
    grid-column: stretch-start / stretch-end;
    
    display: grid;

    grid-template-columns: [stretch-start] 10rem [center-start] 1fr [mid] 1fr [center-end] 10rem [stretch-end];
    grid-template-rows: repeat(3, min-content);
    grid-gap: 3rem;

    &__title {
        grid-column: center-start;
        align-self: end;
        margin-bottom: 3rem;
    }

    &__image {
        display: grid;
        align-items: center;

        grid-column: mid / center-end;
        grid-row: 1 / -1;
        
        position: relative;

        &--src {
            max-width: 100%;
            max-height: 100%;
        }
    }
}