.portfolio {
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
    grid-gap: 3rem;



    &__icon {
        background-size: cover;
        background-repeat: no-repeat;
        

        &--dark {
            grid-column: full-start / col-end 4;
            background-position: right;
        }

        &--light {
            grid-column: col-start 5 / full-end;
        }
    }



    &__text {
        align-self: center;

        &--dark {
            grid-column: col-start 5 / col-end 8;
        }

        &--light {
            grid-column: col-start 1 / col-end 4;
        }
    }

    &__dark {
        background-color: $color-grey-light;
    }
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__button {
        margin-top: 4rem;
    }
}


.portfolio__icon {
    &--cube {
        background-image: url("../img/cuberover_icon.png");
    }

    &--off {
        background-image: url("../img/offbeat_icon.png");
    }
    
}

// #cube {
//     background-size: contain;
//     background-position: center center;
// }