.quote {
    background-color: $color-grey-dark;
    padding: 4rem 0;
    margin: 12rem 0 0 0;

    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end];
    grid-gap: 3rem;

    &__text {
        color: $color-white;
        grid-column: col-start 2 / col-end 7;
        text-align: center;
    }
}