.mainTitle {
    font-size: 5rem;
    text-align: right;

    &__white {
        color: $color-white;
    }

    &__dark {
        color: $color-grey-dark;
    }
}

.section__title {
    font-size: 3.5rem;
    font-weight: 700;
}

.small__title {
    font-size: 2rem;
    font-weight: 700;
}

.paragraph {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.6;
}

.quote__text {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1.6;
}

.buttonSquare {
    font-size: 1.6rem;
    font-weight: 400;
    
}